name: SQL Server Docker in GitHub Actions

on:
  workflow_dispatch:

jobs:
  test-sql:
    runs-on: ubuntu-latest   # MUST be Linux for Docker services

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Satish@02
        ports:
          - 1433:1433
        options: >-
          --health-cmd " /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'Satish@02' -Q 'SELECT 1'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Wait for SQL Server
        run: |
          echo "Waiting for SQL Server to become available..."
          for i in {1..30}; do
            /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "Satish@02" -Q "SELECT 1" && break
            echo "Still waiting... ($i)"
            sleep 5
          done

      - name: Create Test Database
        run: |
          /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "Satish@02" \
            -Q "IF NOT EXISTS(SELECT * FROM sys.databases WHERE name='TestDevOps') CREATE DATABASE TestDevOps;"
