name: .NET CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Satish@02
        ports:
          - 1433:1433
        options: >-
          --health-cmd "exit 0" --health-interval 10s --health-timeout 5s 

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Run DB Test
      env:
        ConnectionStrings__DefaultConnection: "Server=localhost,1433;Database=YourDatabaseName;User Id=sa;Password=Satish@02;TrustServerCertificate=True;"
      run: dotnet test
