name: Test SQL Server Connection -1

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: Satish@02
        ports:
          - 1433:1433
        options: >-
          --health-cmd " /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P 'Satish@02' -Q 'SELECT 1' || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Wait for SQL Server to start
        run: |
          echo "Waiting for SQL Server to be ready..."
          for ($i=1; $i -le 30; $i++) {
            try {
              sqlcmd -S localhost,1433 -U sa -P "Satish@02" -Q "SELECT 1" && break
            } catch {
              Start-Sleep -Seconds 5
              Write-Host "Still waiting... ($i)"
            }
          }

      - name: Create database
        run: |
          sqlcmd -S localhost,1433 -U sa -P "Satish@02" -Q "IF NOT EXISTS(SELECT * FROM sys.databases WHERE name='TestDevOps') CREATE DATABASE TestDevOps;"
