name: SQL Connection Test (TEMP)

on:
  workflow_dispatch

jobs:
  test-sql:
    runs-on: ubuntu-latest

    steps:
      - name: Install sqlcmd
        run: |
          sudo apt-get update
          sudo apt-get install -y mssql-tools unixodbc-dev

      - name: Test SQL Connection
        run: |
          sqlcmd \
          -S 192.168.0.253,1433 \
          -d master \
          -U sa \
          -P Satish@02 \
          -Q "SELECT GETDATE()"
