name: SQL Connection Check

on:
  workflow_dispatch

jobs:
  check-sql:
    runs-on: self-hosted

    steps:
      - name: Check SQL Server connection (Windows Auth)
        run: |
          sqlcmd -S localhost -d master -E -Q "SELECT GETDATE()"
